/* Activity: My CSS Garden
Zen Garden is a well-known project where people added their own CSS designs to the same HTML. This demonstrates both the power of CSS and design.

We'll be creating our own mini version on replit.com. Go ahead and fork this replit to start making it your own.

My CSS Garden
Things to style:

Target the anchor tags and remove the text-decoration.
Target the anchor and change the color. */
a {
    text-decoration: none;
    background-color: #337961;
  }
/* Select the nav and change the background-color to a different color using an rgb() color unit. */
nav {
    background-color: hsl(162, 61%, 39%);
}
/* Select the aside and change the background-color to a different color using a hex color unit. */
aside {
    background-color: #0000ff;
}
/* Using compound selectors, i.e., element1, element2 to select both the nav and aside, make each the same text color. */
nav, aside {
    color: #cdee39;
}
/*Change the background-color of the body using a hex value.
Change the color and/or font-family of the body (use any type of color unit).*/
body {
    background-color:  #b8b667;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Target the anchor :visited state and change the color using an HTML color name. */
a:visited {
    color: pink;
}
/* Target the anchor and change the color on :hover. */
a:hover {
    color: red;
}
/*Add a border to the section elements.*/
section {
    border-style: solid;
}
/*Add a box-shadow to at least one element. */

/*Target the h1 and change the font-size using em.
Add a text-shadow to the h1.
Choose any text element and text-align center it.*/
h1 {
    font-size: 4em;
    text-shadow: red;
    box-shadow: 1em;
    text-align: center;
}
/*Change the font-size of the p tags.
text-align the p tags to be of type justify.*/
p {
    font-size: small;
    text-align: justify;
}
/*Change the font-weight of the span tags to bold (add in your details outside the span tag in the index.html file).*/
main, aside  {
    font-weight: bold;
}
/*Style the main element to have a different background-color.
Resize the main element to have a width of 90%.
Center the main using margin:auto (we'll learn more about this in the next lesson).*/
main {
    background-color: #cdee39;
    width: 90%;
    margin: auto;
}
/*Remove the list-style of the li tags.*/
ul {
    list-style-type: none;
}
/*Using compound selectors, i.e., element1, element2, select each h3 and make each a different color.*/


/*Using class and/or id by adding it in the index.html to each of the three h2 tags, give each one a different text-shadow and/or color.
Add any other properties to the CSS rules you've created.
Create new rules to add even more style.
*Feel free to add classes and ids to the HTML to select the elements you want.
Share your replit with your instructor and classmates.

Bonus
Add an image to the About Me section, then style it and set an appropriate height/width.
Add more resource links to the footer.
Research and add more margin to various elements (this will be covered in a future lesson).
Research and add more padding to various elements (this will be covered in a future lesson).
Research how to change the layout to place the aside and main next to each other (this will be covered in a future lesson).
Add a Google font and apply it to at least one element.
Add a background-image to the header.
Add a background-image linear gradient to an element. Hint */
